.header{
background-image: linear-gradient(to bottom, $navColor, transparent);

&.open{
    .header_bars{
        span:first-child{
        transform: translateY(0.5rem);
        }
        span:last-child{
        transform: translateY(-0.5rem);
        }
    }
    .header_menu{
        display: block;
    }
   }

    &_center{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            
          }

    &_logo{
        img{
        max-width: 5rem;
        
        }
    }

    &_bars{
        span {
            display: block;
            width: 1.8rem;
            height: 0.1rem;
            background-color: white;
            transition: 0.4s ease-in;

            &:not(:last-child){
                margin-bottom: 0.4rem;
        }
    }
    }
    
    &_menu{
       background-color: white;
       z-index: 1;
       width: 100%; 
       margin: 0 auto; 
       display: none;
       box-shadow: 0 0 5rem black;
       
       a{
        display: block;
        text-decoration: none;
        line-height: 2rem;
        margin-left: 2rem;
        position: relative;
       }
    }
}